@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Agrega tus enlaces a CSS y otros recursos aquí -->
</head>
<body>
    <header>
        <h1>Bienvenido a tu Sistema de Facturación</h1>
    </header>
    <main>
        <p>Bienvenido a tu sistema de facturación. Desde aquí puedes gestionar tus clientes, métodos de pago y crear nuevas facturas.</p>
        <p>Explora las opciones en el menú de navegación para comenzar.</p>
    </main>
    <footer>
        <p>&copy; 2023 Tu Nombre. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
